{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="page-header">
        <h1>Корзина: </h1>
</div>
{% if cart_price != 0 %}
<div class="row">

        <div class="col-xs-10">
            <div class="panel panel-success"  style="border-color:#eeeeee">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10">
                            <h3 class="panel-title" >Сумма заказа: <span id="cart_value">{{ cart_price }} р.</span></h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                            {% for key, val in cart_cares %}
                     <div class="row">
                        <div class="col-xs-6">
                            <p></p>
                            "{{ key.car.name }}" от "{{ key.autosaloon.name }}" Количество: <span id="car_count{{ key.car.id }}">{{ val }}</span>
                        </div>
                        <div class="col-xs-2">
                            <a class="btn  btn-success add_button{{ key.car.id }}" onclick="addCount({{ key.car.id }}, {{ key.car.price }})" style="width:100%;">Увеличить</a>
                        </div>
                        <div class="col-xs-2">
                            <a class="btn  btn-primary dec_button{{ key.car.id }}" onclick="decCount({{ key.car.id }}, 1, {{ key.car.price }})" style="width:100%;">Уменьшить</a>
                        </div>
                        <div class="col-xs-2">
                             <a class="btn  btn-default del_button{{ key.car.id }}" onclick="delCount({{ key.car.id }}, {{ key.car.price }})" style="width:100%;background-color: #F4C9BE">Удалить</a>
                        </div>
                     </div>
                    <p></p>
                    {% endfor %}
                </div>
            </div>
        </div>

</div>


 <div class="row">
                <div class="col-xs-6 "></div>

                <div class="col-xs-2 ">
                    <a class="btn btn btn-success" href="{% url 'cart_orders' %}" style="width:100%;">Оформить</a>
                </div>
                <div class="col-xs-2">
                            <a class="btn btn-default" href="{% url 'cart' cart_state=0 %}" role="button" style="width:100%;background-color: #F4C9BE">Очистить корзину </a>
                </div>
 </div>
{% endif %}



{% endblock %}

{% block scripts %}

        <script type="text/javascript">
            function addCount(car_id, car_price) {
                $.get("{% url 'cart_car_incrementation' %}", {"id" : car_id, "price": car_price}, function(data) {
                    var span_name = "#car_count" + car_id;
                    $(span_name).text(data);
                    updateCartView(car_price, "increase");
                });
            }

            function decCount(car_id, count, car_price) {
                var car_count = Number(count);
                $.get("{% url 'cart_car_decrementation' %}", {"id": car_id, "count": car_count}, function(data) {
                    var returned_value = Number(data);
                    if (returned_value == 0) {
                        // узнаем, осталось ли еще что-то в корзине
                        var cart_price = Number($("#cart_value").text().split(" ")[0]);
                        var dec_car_price = car_count * car_price;
                        if ((cart_price - dec_car_price) <= 0) {
                            document.location.href = "{% url 'cart' cart_state=0 %}"
                        } else {
                            document.location.href = "{% url 'cart' cart_state=1 %}"
                        }
                    } else {
                        var span_name = "#car_count" + car_id;
                        $(span_name).text(data);
                        updateCartView(car_price, "decrease");
                    }
                });
            }

            function delCount(car_id, car_price) {
                var span_name = "#car_count" + car_id;
                var count = Number($(span_name).text());
                decCount(car_id, count, car_price);
            }

            function updateCartView(price, update_type) {
                var cart_price = Number($("#cart_value").text().split(" ")[0]);
                if (update_type == "increase") {
                    var new_cart_price = cart_price + Number(price);
                    $("#cart_value").text(new_cart_price + " р.");
                } else if (update_type == "decrease") {
                    var new_cart_price = cart_price - Number(price);
                    $("#cart_value").text(new_cart_price + " р.");
                }
            }
        </script>

{% endblock %}
