{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <div class="page-header">
            <h1>Заказы: </h1>
        </div>
        <div class="row">
            {% if show_form == 1 %}
            <div class="col-xs-9">
                <div class="panel panel-default"  style="border-color:#eeeeee">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-10">
                                <h3 class="panel-title" >Детали заказа</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <form name="make_order_form" id="order_form" action="{% url 'get_form' autosaloon_id=autosaloon_id order_type=current_order_type %}" method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    {% if field.label == 'Время бронирования' and current_order_type == '0' %}
                                    <input type="submit" value="Показать столики" onclick="showTables()" />
                                    <div><p></p></div> <!-- Исключительно для пропуска строки в текущем шаблоне верстки -->
                                    <div id="hidden_area">
                                    {% endif %}
                                    <div>
                                        {{ field.label }}
                                    </div>
                                    <div>
                                        {{ field }}
                                        {% if field.field.required %}
                                            <span>*</span>
                                        {% endif %}
                                        {% if show_custom_date_error == 1 and field.label == 'Дата бронирования' %}
                                        Неверная дата
                                        {% endif %}
                                        {% if show_errors == 1 %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                    <div>
                                        {{ field.help_text }}
                                    </div>
                                    <div><p></p></div> <!-- Исключительно для пропуска строки в текущем шаблоне верстки -->
                                    {% endfor %}
                                    {% if current_order_type == '0' %}
                                    </div>
                                    {% endif %}
                                    <input id="id_address_changed" type="hidden" name="address_changed" value="0" />
                                    <input id="id_show_tables" type="hidden" name="show_tables" value="0" />
                                    <input id="id_order_type" type="hidden" name="order_type" value="{{ current_order_type }}" />
                                    <input type="submit" value="Оформить заказ" onclick="sendOrder()"/>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="list-group">
                    {% for type, name in order_types_list %}
                        <a href="{% url 'get_form' autosaloon_id=autosaloon_id order_type=type %}" class="list-group-item {% if type == current_order_type %} active {% endif %}">
                            {{ name }}
                        </a>
                    {% endfor %}
                </div>
            </div><!--/.sidebar-offcanvas-->
            {% endif %}
        </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).keydown(function(eventObject) {
            if (eventObject.which == 13) { // нажата клавиша Enter
                document.forms["make_order_form"].submit();
            }
        })

        function sendOrder() {
            $("#id_show_tables").val("0");
        }

        function showTables() {
            $("#id_show_tables").val("1");
        }

        // если в элементах управления что-то изменяется, то область div id="hidden_area" скрывается
        // скрывается, только, если это происходит на форме бронирования столика
        $("#id_hall, #id_date").change(function() {
            if ($("#id_order_type").val() == "0") {
                $("#hidden_area").html("");
            }
        })

        // отправка данных на форму только, если это форма бронирования столика
        $("#id_address").change(function() {
            if ($("#id_order_type").val() == "0") {
                $("#id_address_changed").val("1");
                document.forms["make_order_form"].submit();
            }
        })
    </script>
{% endblock %}
