{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="page-header">
        <h1>Заведение "{{ autosaloon_name }}"</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Ваш заказ успешно оформлен.
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Заказ поступил на рассмотрение администрацией заведения. Они могут связаться с Вами по указанному в заказе телефону.</p>
                    <p>Вы можете посмотреть свои заказы в меню "Мои заказы" нашего сайта.</p>
                    <p>Вы также можете сами связаться с администрацией заведения:</p>
                    <p>Електронная почта: {{ autosaloon_email }}</p>
                    {% if order_type != '2' %}
                        <p>Телефон заказов: {{ autosaloon_branch_order_phone }}</p>
                        <p>Телефон для справок: {{ autosaloon_branch_help_phone }}</p>
                    {% endif %}
                    <a class="btn btn-default" href="{% url 'cars_without_category' autosaloon_id=autosaloon_id %}">Вернуться в меню</a>
                    <a class="btn btn-default" href="{% url 'cart' cart_state=1 %}">Сделать еще заказ</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
