{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="page-header">
        <h1>Ваши заказы</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Получить заказы по номеру телефона
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="user_orders_form" action="{% url 'get_user_form' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div>
                                {{ field.label }}
                            </div>
                            <div>
                                {{ field }}
                                {% if field.field.required %}
                                    <span>*</span>
                                {% endif %}
                                {% if show_errors == 1 %}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div>
                                {{ field.help_text }}
                            </div>
                            <div><p></p></div> <!-- Исключительно для пропуска строки в текущем шаблоне верстки -->
                        {% endfor %}
                        <input type="submit" value="Показать" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if is_valid == 1 %}
        {% for order in orders %}
        <div class="row">
            <div class="col-xs-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ order.get_type_display }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-3">
                                Статус: <strong>{{ order.get_state_display }}</strong>
                            </div>
                            <div class="col-xs-4">
                                <p>{{ order.autosaloon_branch.autosaloon.name }} - {{ order.autosaloon_branch.autosaloon.email }}</p>
                                {% if order.type != '2' %}
                                    {{ order.autosaloon_branch.address }} - {{ order.autosaloon_branch.help_phone_number }}
                                {% endif %}
                            </div>
                            <div class="col-xs-2">
                                <a class="btn btn-link" onclick="viewOrderCarList({{ order.id }})">Заказ</a>
                            </div>
                            <div class="col-xs-3">
                                {{ order.execute_date }} {{ order.execute_time }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10">
                <div class="alert alert-info" id="popup{{ order.id }}">
                    <span id="order_rows{{ order.id }}"></span>
                    <div class="row">
                        <div class="col-xs-2 ">
                            <button type="button" class="btn btn-primary" onclick="hidePopUp()" style="width:100%;">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(document).keydown(function(eventObject) {
            if (eventObject.which == 13) { // нажата клавиша Enter
                document.forms["user_orders_form"].submit();
            } else if (eventObject.which == 27) { // нажата клавиша Esc
                hidePopUp();
            }
        })

        function viewOrderCarList(order_id) {
            $.get("{% url 'view_order_car_list' %}", {"id": order_id}, function(data) {
                if (data != "error") {
                    var order_specification = jQuery.parseJSON(data);
                    var order_price = order_specification.order_price;
                    var car_list = order_specification.order_components;
                    var order_rows = [];
                    for (var i = 0; i < car_list.length; i++) {
                        order_rows[i] = car_list[i].car_name + ": " + car_list[i].car_count + "x " + car_list[i].car_price + " р.";
                    }
                    showPopUp(order_id, order_price, order_rows);
                } else {

                }
            })
        }

        $(document).ready(function() {
            hidePopUp();
        })

        function showPopUp(order_id, order_price, order_rows) {
            hidePopUp();
            var row_id = "#order_rows" + order_id;
            $(row_id).html("");
            var out_str = "<p>Цена заказа: " + "<strong>" + order_price + " р.</strong></p>";
            for (var i = 0; i < order_rows.length; i++) {
                out_str += "<p>" + order_rows[i] + "</p>";
            }
            $(row_id).html(out_str);
            var popup_id = "#popup" + order_id;
            $(popup_id).show();
        }

        function hidePopUp() {
            $(".alert").hide();
        }
    </script>

{% endblock %}
