{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>О сайте:</h1>
            <p>данный сайт разработан в рамках курсового проекта по дисциплине "Технологии разработки программного обеспечения" </p>
          </div>
          <div class="container">
            <div class="col-xs-9">
                выаваааааааааааааааааааааааааааааааааааааааа ааааааааа ааааааааааааа ааааааа ааааааааааа аааааааааа ааааааа ааааааа
                ываааааааааааааааааааааааааааааааааа
                ываааааааааааааааааааааааааааааааааааа аппрпрапр аапр апра  арапра  пра
            </div>
          </div>


        </div><!--/.col-xs-12.col-sm-9-->

      </div><!--/row-->

{% endblock %}
