{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Добро пожаловать!</h1>
            <p>Вас приветствует сервис для совершения заказов в любом ресторане вашего города. Чтобы начать выберите интересующее вас заведение.</p>
          </div>
          <div class="row">
              {% for autosaloon in autosaloon_list %}
            <div class="col-xs-6 col-lg-4">
              <h3>{{ autosaloon.name }}</h3>
                <img src="{% static 'images/'|add:autosaloon.autosaloon_image.name %}" class="img-thumbnail">
              <p>{{ autosaloon.description }}</p>
                <p><a class="btn btn-default" href="{% url 'cars_without_category' autosaloon_id=autosaloon.id %}" role="button">Меню</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
              {% endfor %}
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
              {% for city in city_list %}
                {% if city == default_city %}
                    <a href="/city/{{ city.id }}" class="list-group-item active">{{ city }}</a>
                {% else %}
                    <a href="/city/{{ city.id }}" class="list-group-item">{{ city }}</a>
                {% endif %}
              {% endfor %}
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $.get("{% url 'session_cleaning' %}");
        })
    </script>

{% endblock %}
