
{% extends "main.html" %}
{% load staticfiles %}
{% block car_all %}
<div>
{% for car in form %}
<div class="col col_14 product_gallery">
            	<a href="/cars/get/{{ car.id }}/"><img src="{{ MEDIA_URL }}{{ car.car_img.name }}" alt="Product 01" /></a>
                <h3><a href="/cars/get/{{ car.id }}/">{{ car.mark }}</a></h3>
                <p class="product_price">{{car.price}}</p>
                <a href="shoppingcart.html" class="add_to_cart">Add to Cart</a>
            </div>
{% endfor %}
</div>
{% endblock %}