{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Web Store - Products</title>
<meta name="keywords" content="web store, products, free templates, website templates, CSS, HTML" />
<meta name="description" content="Web Store, Products, free CSS template by templatemo.com" />
<link  href="{% static "css/templatemo_style.css" %}"   rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="{% static "css/ddsmoothmenu.css" %}" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<link rel="stylesheet" type="text/css" href="css/styles.css" />
<script language="javascript" type="text/javascript" src="scripts/mootools-1.2.1-core.js"></script>
<script language="javascript" type="text/javascript" src="scripts/mootools-1.2-more.js"></script>
<script language="javascript" type="text/javascript" src="scripts/slideitmoo-1.1.js"></script>
<script language="javascript" type="text/javascript">
	window.addEvents({
		'domready': function(){
			/* thumbnails example , div containers */
			new SlideItMoo({
						overallContainer: 'SlideItMoo_outer',
						elementScrolled: 'SlideItMoo_inner',
						thumbsContainer: 'SlideItMoo_items',
						itemsVisible: 5,
						elemsSlide: 2,
						duration: 200,
						itemsSelector: '.SlideItMoo_element',
						itemWidth: 171,
						showControls:1});
		}

	});
</script>

</head>

<body id="subpage">

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	<div id="site_title"><h1><a href="http://www.templatemo.com"> </a></h1></div>
        <div id="header_right">
        <a href="/order/cart"><img src="/static/images/cart-trans.png" width="75" height="75" alt="Корзина" /></a>
         </div>
    </div> <!-- END of header -->

    <div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="index.html"  class="selected">Главная</a></li>
            <li><a href="products.html">Каталог</a>
            </li>
            <li><a href="about.html">Техосмотр</a>
            </li>
            <li><a href="faqs.html">Тест-драйв</a></li>
        </ul>
        <br style="clear: left" />
    </div> <!-- end of templatemo_menu -->

    <div class="cleaner h20"></div>
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
         <div id="sidebar">
        	<h3>Categories</h3>
            <ul class="sidebar_menu">
                <li><a href="/cars/category/2/">Audi</a></li>
                <li><a href="/cars/category/3/">Acura</a></li>
                <li><a href="/cars/category/4/">BMW</a></li>
                <li><a href="/cars/category/5/">Chevrolet</a></li>
                <li><a href="/cars/category/6/">Ford</a></li>
                <li><a href="/cars/category/7/">Honda</a></li>
                <li><a href="/cars/category/8/">Hyundai</a></li>
                <li><a href="/cars/category/9/">Lexus</a></li>
                <li><a href="/cars/category/10/">Mazda</a></li>
                <li><a href="/cars/category/11/">Toyota</a></li>
            </ul>
        </div> <!-- END of sidebar -->

        <div id="content">
 <hr><!-- ______________________________________________________________________________________________________________________________________ -->
        	{% block car_all %}{% endblock %}
        {% block  login %}{% endblock %}
            {% block car %}{% endblock %}
            {% block cart%}{% endblock %}

     <!-- ______________________________________________________________________________________________________________________________________ -->
            <div class="cleaner"></div>
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->

    <div id="templatemo_footer">

        <div class="col col_16">
        	<h4>Страницы</h4>
            <ul class="footer_menu">
            	<li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Техосмотр</a></li>
                <li><a href="#">Тест-драйв</a></li>
			</ul>
        </div>
        <div class="col col_16">
        	<h4>Партнёры</h4>
            <ul class="footer_menu">
            	<li><a href="http://www.flashmo.com/">Free Flash Templates</a></li>
                <li><a href="http://www.templatemo.com/">Free CSS Templates</a></li>
                <li><a href="http://www.koflash.com/">Website Gallery</a></li>
                <li><a href="http://www.webdesignmo.com/blog/">Web Design Resources</a></li>
			</ul>
        </div>
        <div class="col col_16">
        	<h4>Ссылки</h4>
            <ul class="footer_menu">
            	<li><a href="https://github.com/enc111/new_version_carShop.git">GitHub</a></li>
                <li><a href="http://vk.com/bykovalexander">Быков Александр</a></li>
                <li><a href="http://vk.com/fadetonight">Рогова Екатерина</a></li>
                <li><a href="http://vk.com/kholmansky">Холманский Максим</a></li>
                <li><a href="http://vk.com/id57405272">Чеботарёва Екатерина</a></li>
		  </ul>
        </div>
        <div class="col col_13 no_margin_right">
        	<h4>Описание</h4>

            <p>Данное веб-приложение является показательной реализацией нашего проекта, в основе которого лежит выбор автомобиля для возможной его покупки в будущем. Кроме того, есть также доп. услуги такие, как техосмотр и тест-дрйв. </p>
        </div>

        <div class="cleaner h40"></div>
		<center>
			Copyright © 2048 Your Company Name | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
		</center>
    </div> <!-- END of footer -->

</div>

</body>
</html>