{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="page-header">
        <h1>{{ employee.autosaloon }}</h1>
</div>

        {% if employee_user.is_authenticated %}

{% for order in order_list %}
<div class="row">
        <div class="col-xs-10">
            <form class="panel panel-default"  style="border-color:#eeeeee">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10">
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                <div class="col-xs-10" >
                      <p></p>
                      <p>Номер заказа: {{ order.id }}</p>
                      <p>Тип заказа: {{ order.get_type_display }} </p>
                      <p>Статус заказа: <span id="id_order_state{{ order.id }}"><strong>{{ order.get_state_display }}</strong></span></p>
                      <p>Контактный номер клиента: {{ order.client_phone }}</p>
                      <p>Дата исполнения заказа: {{ order.execute_date }} {{ order.execute_time }}</p>
                  </div>
                 <div class="col-xs-2">
                     <p></p>
                  <p><a class="btn btn-default" name="accept" id="id_accept"  onclick="accept_order({{ order.id }})" role="button" style="width:100%;background-color: #C9F4BE;">Принять</a>
                   <p></p><a class="btn btn-default" name="decline" id="id_decline"  onclick="decline_order({{ order.id }})" role="button" style="width:100%;background-color: #F4C9BE">Отменить</a>
                     <p></p><a class="btn btn-primary" name="advance" id="id_advance"  onclick="viewOrderCarList({{ order.id }})" role="button" style="width:100%">Подробнее</a>
                  </div>
                </div>
            </form>
            <div class="alert alert-info" id="popup{{ order.id }}">
                <span id="order_rows{{ order.id }}"></span>
                <div class="row">
                    <div class="col-xs-2">
                        <button type="button" class="btn btn-primary" onclick="hidePopUp()" style="width:100%;">Закрыть</button>
                    </div>
                </div>
              </div>
        </div>
</div>

{% endfor %}

{% else %}
    <div class="page-header">
        Вы не авторизованы
    </div>
    <a class="btn btn-default" href="{% url 'login_employee' %}">Авторизоваться</a>
{% endif %}

{% endblock %}

 {% block scripts %}
<script type="text/javascript">
    function accept_order(order_id) {
        $.get("{% url 'accept_order' %}", {"order_id": order_id}, function(data) {
            if (data != "error" && data != "cancel") {
                var order_state_id = "#id_order_state" + order_id;
                $(order_state_id).html("<strong>" + data + "</strong>");
            } else if (data == "cancel") {
                alert("Нельзя");
            } else {
                alert("Ошибка");
            }
        });
    }
    function decline_order(order_id) {
        $.get("{% url 'decline_order' %}", {"order_id": order_id}, function(data) {
            if (data != "error" && data != "cancel") {
                var order_state_id = "#id_order_state" + order_id;
                $(order_state_id).html("<strong>" + data + "</strong>");
            } else if (data == "cancel") {
                alert("Нельзя");
            } else {
                alert("Ошибка");
            }
        });
    }

    function viewOrderCarList(order_id) {
        $.get("{% url 'client_order_details' %}", {"id": order_id}, function(data) {
            if (data != "error") {
                var order_specification = jQuery.parseJSON(data);
                var order_price = order_specification.order_price;
                var car_list = order_specification.order_components;
                var order_rows = [];
                for (var i = 0; i < car_list.length; i++) {
                    order_rows[i] = car_list[i].car_name + ": " + car_list[i].car_count + "x " + car_list[i].car_price;
                }
                showPopUp(order_id, order_price, order_rows);
            } else {

            }
        })
    }

    $(document).ready(function() {
        hidePopUp();
    })

    function showPopUp(order_id, order_price, order_rows) {
        hidePopUp();
        var row_id = "#order_rows" + order_id;
        $(row_id).html("");
        var out_str = "<p>Цена заказа: " + "<strong>" + order_price + " р.</strong></p>";
        for (var i = 0; i < order_rows.length; i++) {
            out_str += "<p>" + order_rows[i] + "</p>";
        }
        $(row_id).html(out_str);
        var popup_id = "#popup" + order_id;
        $(popup_id).show();
    }

    function hidePopUp() {
        $(".alert").hide();
    }

    $(document).keydown(function(eventObject) {
        if (eventObject.which == 27) { // нажата клавиша Esc
            hidePopUp();
        }
    })
</script>
{% endblock %}
